* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#game {
    padding-top: 20px;
    font-size: 40px;
    width: 320px;
    margin: auto;
}

.main {
    width: 320px;
    height: 620px;
    margin: 20px auto 0;
    border: 10px solid silver;
    font-size: 0;
}

.cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid silver;
}

.movingCell {
    background: blue;

}

.fixedCell {
    background: green
}